# Laravel
/vendor
/node_modules
/.env
/.env.*
/storage/*.key
/storage/pail
/public/storage
/public/hot
/public/build

# Laravel Testing
/.phpunit.cache
/.phpunit.result.cache

# Laravel Dev Tools
/.phpactor.json

# IDE & Editor
/.idea
/.vscode
/.nova
/.zed
/.fleet

# System Files
Thumbs.db

# Debug Logs
npm-debug.log
yarn-error.log

# Homestead
Homestead.yaml
Homestead.json

# Auth / Secrets
/auth.json

# Backup or temp envs
.env.backup
.env.production
